<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-button href ="/home">
     Back
    </ion-button>
  </div>

  <div id="Character Checkbox">
    <ion-item>
      <ion-label>Fuse</ion-label>
      <ion-checkbox color="dark" checked="true"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Bangalore</ion-label>
      <ion-checkbox color="dark" checked="true"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>BloodHound</ion-label>
      <ion-checkbox color="dark" checked="true"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Caustic</ion-label>
      <ion-checkbox color="dark" checked="true"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Crypto</ion-label>
      <ion-checkbox color="dark" checked="true"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Gibraltar</ion-label>
      <ion-checkbox color="dark" checked="true"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Horizon</ion-label>
      <ion-checkbox color="dark" checked="true"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Lifeline</ion-label>
      <ion-checkbox color="dark" checked="true"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Loba</ion-label>
      <ion-checkbox color="dark" checked="true"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Mirage</ion-label>
      <ion-checkbox color="dark" checked="true"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Octane</ion-label>
      <ion-checkbox color="dark" checked="true"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Pathfinder</ion-label>
      <ion-checkbox color="dark" checked="true"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Rampart</ion-label>
      <ion-checkbox color="dark" checked="true"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Revenant</ion-label>
      <ion-checkbox color="dark" checked="true"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Wattson</ion-label>
      <ion-checkbox color="dark" checked="true"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Wraith</ion-label>
      <ion-checkbox color="dark" checked="true"></ion-checkbox>
    </ion-item>
  </div>
</ion-content>
